body { 
    background: url(https://images.unsplash.com/photo-1415369629372-26f2fe60c467?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80) no-repeat center center fixed; 
    background-size: cover;
    
  }

.about-website {
    color: white;
    text-shadow: 0px 2px 1px black;
    padding-top: 100px;
}

p {
    font-size: 25px;
    text-align: center; 
}

h1 {
    font-size: 80px;
    font-family: lato 700;
    text-align: center;
}

#navbar a{
    color: grey;
    transition: none;
}

#navbar a:hover{
    color: black;
}

.container { 
    width: 150px;
    height: 70px;
    position: relative;
    border: none; 
  }
  
  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

.get-started{
    border-radius: 4px;
    width: 120px;
    height: 35px;
}

img {
    width:130px;
    height: 20px;
    padding-bottom: auto;
    padding-right: 110px;
}

.button-text {
    font-family: arial;
    text-decoration: none;
    font-size: small;
    margin-left: 10px;
    margin-top: -27px;
    padding-left: 10px;
    padding-top: 7px;
}